In [2]:
from math import radians, sin, cos, sqrt, atan2
import pandas as pd

In [4]:
def haversine(lat1, lon1, lat2, lon2):
    # Convert latitude and longitude from degrees to radians
    lat1, lon1, lat2, lon2 = map(radians, [lat1, lon1, lat2, lon2])
    
    # Haversine formula
    dlat = lat2 - lat1
    dlon = lon2 - lon1
    a = sin(dlat / 2) ** 2 + cos(lat1) * cos(lat2) * sin(dlon / 2) ** 2
    c = 2 * atan2(sqrt(a), sqrt(1 - a))
    
    # Radius of the Earth in kilometers
    R = 6371.0
    
    # Calculate the distance
    distance = R * c
    return distance

def compute_distances(cities):
    num_cities = len(cities)
    distances = [[0 for _ in range(num_cities)] for _ in range(num_cities)]
    
    for i in range(num_cities):
        for j in range(i + 1, num_cities):
            city1 = cities[i]
            city2 = cities[j]
            distance = haversine(city1[2], city1[3], city2[2], city2[3])
            distances[i][j] = distance
            distances[j][i] = distance
    
    return distances

In [3]:
# df_cities = pd.read_csv("cities.csv", encoding='ISO-8859-1')
# display(df_cities.head())
# display(df_cities.shape)

In [12]:
for i in range(len(df_cities)):
    df_cities[i] = ""

df_distance = df_cities.copy(deep=True)

for i in range(len(df_cities)):
    lat_i, lon_i = df_cities.at[i, 'lat'], df_cities.at[i, 'lng']
    for j in range(len(df_cities)):
        lat_j, lon_j = df_cities.at[j, 'lat'], df_cities.at[j, 'lng'] 
        
        df_distance.at[i,j] = haversine(lat_i, lon_i, lat_j, lon_j)

In [14]:
display(df_distance)
df_distance.to_csv("computed distances.csv")

,city,city_ascii,lat,lng,0,1,2,3,4,5,...,100,101,102,103,104,105,106,107,108,109
0,Quezon City,Quezon City,14.6500,121.0475,0.0,868.579128,978.345896,8.337438,563.783621,15.671222,...,667.685881,271.41977,238.927061,375.440207,652.296088,308.704148,307.711766,698.513809,64.510221,1028.23624
1,Zamboanga City,Zamboanga City,6.9042,122.0761,868.579128,0.0,389.365492,869.712817,422.041959,859.606576,...,302.40937,1138.87963,1104.951921,1240.234496,1506.267618,779.282356,1171.216915,529.242388,806.656832,330.129471
2,Davao,Davao,7.0700,125.6000,978.345896,389.365492,0.0,982.6664,414.651483,964.97358,...,323.240914,1222.006201,1185.985231,1308.651535,1538.307836,766.499569,1241.519752,345.833777,914.470962,112.85793
3,Caloocan City,Caloocan City,14.6500,120.9700,8.337438,869.712817,982.6664,0.0,568.205191,23.37182,...,671.206358,271.316714,239.350438,375.850088,653.577097,316.586055,308.486574,704.450589,68.229485,1031.812924
4,Cebu City,Cebu City,10.3200,123.7500,563.783621,422.041959,414.651483,568.205191,0.0,550.341564,...,128.123876,810.119845,774.16424,900.142944,1142.40462,377.807425,832.063962,199.566766,500.062515,472.308511
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105,Pili,Pili,13.7177,123.7448,308.704148,779.282356,766.499569,316.586055,377.807425,293.21541,...,504.888581,478.124946,443.136339,551.624642,771.965643,0.0,488.03781,440.545019,269.348805,841.064547
106,Tabuk,Tabuk,17.4084,121.2785,307.711766,1171.216915,1241.519752,308.486574,832.063962,314.22661,...,948.182249,47.720325,69.915381,69.179328,345.94037,488.03781,0.0,927.516946,366.0207,1304.268397
107,San Jose,San Jose,10.1800,125.5683,698.513809,529.242388,345.833777,704.450589,199.566766,683.545054,...,244.665426,914.411531,878.747174,991.939635,1205.209271,440.545019,927.516946,0.0,639.12857,441.118378
108,Santa Cruz,Santa Cruz,14.1167,121.2833,64.510221,806.656832,914.470962,68.229485,500.062515,53.246217,...,603.197881,332.236731,298.587133,434.592125,707.990046,269.348805,366.0207,639.12857,0.0,963.766733
109,Koronadal,Koronadal,6.2541,124.9922,1028.23624,330.129471,112.85793,1031.812924,472.308511,1015.763749,...,360.63497,1281.517917,1245.640833,1372.429081,1611.821242,841.064547,1304.268397,441.118378,963.766733,0.0

# For Julia

In [6]:
df_cities = pd.read_csv("cities (04.06).csv")
for i in range(len(df_cities)):
    df_cities[i] = ""

df_distance = df_cities.copy(deep=True)

for i in range(len(df_cities)):
    lat_i, lon_i = df_cities.at[i, 'Lat'], df_cities.at[i, 'Lon']
    for j in range(len(df_cities)):
        lat_j, lon_j = df_cities.at[j, 'Lat'], df_cities.at[j, 'Lon'] 

        df_distance.at[i,j] = haversine(lat_i, lon_i, lat_j, lon_j)

display(df_distance)
df_distance.to_csv("computed distances for julia.csv")

C:\Users\natha\AppData\Local\Temp\ipykernel_26792\3803574641.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_cities[i] = ""
C:\Users\natha\AppData\Local\Temp\ipykernel_26792\3803574641.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_cities[i] = ""
C:\Users\natha\AppData\Local\Temp\ipykernel_26792\3803574641.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_cities[i] = ""

,index j,Name of City,city id,Lat,Lon,Population (what year?),Status,Average Yearly Budget of a Person to buy Fish,Minimum Fish Consumption,Maximum Fish Consumption,...,90,91,92,93,94,95,96,97,98,99
0,1,Manila,1608618140,14.5958,120.9772,24922000,primary,"4,548.06",NaN,NaN,...,59.536726,1033.133883,32.982957,61.157324,725.687225,88.134824,40.663915,345.039013,91.599929,37.924033
1,2,Quezon City,1608974097,14.6500,121.0475,2960048,admin,"4,198.21",NaN,NaN,...,58.480642,1035.267646,39.252797,55.62967,724.987757,86.055708,37.292159,337.477086,91.759768,47.318405
2,3,Zamboanga City,1608189351,6.9042,122.0761,2100000,admin,"4,198.21",NaN,NaN,...,919.960146,339.360821,830.730523,924.208646,494.428341,949.058069,904.22786,1191.388283,787.944267,836.844964
3,4,Davao,1608906877,7.0700,125.6000,1776949,admin,"4,198.21",NaN,NaN,...,1036.52731,111.174537,947.933259,1029.663893,302.633908,1064.364937,1015.439061,1245.210571,886.782997,963.324195
4,5,Caloocan City,1608897690,14.6500,120.9700,1661584,admin,"4,198.21",NaN,NaN,...,53.879537,1038.889721,39.052026,55.137659,730.626634,82.302482,34.607577,339.361903,96.735576,42.545298
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,Concepcion,1608682956,15.3249,120.6554,169953,0,"3,498.51",NaN,NaN,...,29.178951,1121.156049,119.833062,39.959232,809.051623,0.0,48.947443,279.078046,177.624142,112.416766
96,97,Baliuag,1608703693,14.9540,120.9010,168470,0,"3,498.51",NaN,NaN,...,23.329475,1072.558018,73.497397,22.885539,760.665237,48.947443,0.0,308.661597,128.67949,71.892572
97,98,Tuguegarao,1608110634,17.6133,121.7303,166334,admin,"4,198.21",NaN,NaN,...,302.647993,1317.766672,376.601574,285.859374,960.195178,279.078046,308.661597,0.0,405.682741,380.31149
98,99,Sariaya,1608396060,13.9700,121.5300,161868,0,"3,498.51",NaN,NaN,...,150.209265,944.755691,67.915155,143.593763,634.183032,177.624142,128.67949,405.682741,0.0,90.717839
99,100,Naic,1608196842,14.3200,120.7700,160987,0,"3,498.51",NaN,NaN,...,83.569411,1015.954362,24.880899,94.517486,719.505106,112.416766,71.892572,380.31149,90.717839,0.0